VITE_walletWasmHash="96047ff2acea358b6515e8fed2e5fbcfdddffb0f8bdac7852d5e5b3920ebaf6f"
VITE_nativeContractId="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
VITE_networkPassphrase="Test SDF Network ; September 2015"
VITE_rpcUrl="https://soroban-testnet.stellar.org"
VITE_launchtubeUrl="https://testnet.launchtube.xyz"
VITE_launchtubeJwt="???"
VITE_mercuryProjectName="smart-wallets-next-dima"
VITE_mercuryUrl="https://api.mercurydata.app"
VITE_mercuryJwt="???"
# or VITE_mercuryKey="???"