VITE_walletWasmHash="fb077ee782a6066a07d8e26146477561525143507be787415659dac546d11a7f"
VITE_nativeContractId="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
VITE_networkPassphrase="Test SDF Network ; September 2015"
VITE_rpcUrl="https://soroban-testnet.stellar.org"
VITE_launchtubeUrl="https://testnet.launchtube.xyz"
VITE_launchtubeJwt="???"
VITE_mercuryProjectName="smart-wallets-next-dima"
VITE_mercuryUrl="https://api.mercurydata.app"
VITE_mercuryJwt="???"
# or VITE_mercuryKey="???"